.row
  .col-sm-8
    = simple_form_for(@post) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        = f.input :place
        = f.input :title
        = f.input :details       
      .form-actions
        = f.button :submit

