%p#notice= notice
%h1 Posts
%table
  %thead
    %tr
      %th Place
      %th Title
      %th Details
      %th City
      %th State
      %th Street
      %th User
      %th Category
      %th{:colspan => "3"}
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.place
        %td= post.title
        %td= post.details
        %td= post.city
        %td= post.state
        %td= post.street        
        %td= post.category.name
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Post', new_post_path
